body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(98, 140, 160);
}

.container{
    max-width: 500px;
    margin: auto;
   
    justify-content: center;
    align-items: center; 
}

.heading{
    margin: 0;
    display:flex;
    justify-content: center;
    align-content: center; 
    margin-bottom: 30px;
    text-align: center;
}


input{
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: inset;
}

button{
    border-radius:8px;
}